<a href="https://colab.research.google.com/github/anuragverma1/pyspark-Learning/blob/main/GetStarted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 40 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 43.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=756d547fcae1006733d4c54be6b759eac87c0ac1bcc5b40c30ab3d30efe5ea9a
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df = spark.read.json('people.json')

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
df.columns

['age', 'name']

In [13]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [19]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [20]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [21]:
final_struc = StructType(fields=data_schema)

In [22]:
df = spark.read.json('people.json',schema=final_struc)

In [23]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [25]:
df['age']

Column<'age'>

In [26]:
type(df['age'])

pyspark.sql.column.Column

In [24]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [27]:
df.select('age')

DataFrame[age: int]

In [28]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [29]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [30]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [32]:
df.head(2)[0]

Row(age=None, name='Michael')

In [33]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [34]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [40]:
 df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [41]:
df.createOrReplaceTempView('people')

In [42]:
results = spark.sql("SELECT * FROM people")

In [43]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [44]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [45]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+